body {
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    background-color: #2e2e2e;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.info {
    color: white;
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    width: 400px;
}